@font-face {
	font-family: 'Whitney';
	src: url("../fonts/Whitney-Book.otf") format("opentype");
}

@font-face {
	font-family: 'Whitney';
	font-weight: 500;
	src: url("../fonts/Whitney-Medium.otf") format("opentype");
}

@font-face {
	font-family: 'Whitney';
	font-weight: 600;
	src: url("../fonts/Whitney-Semibold.otf") format("opentype");
}

@font-face {
	font-family: 'Whitney';
	font-weight: bold;
	src: url("../fonts/Whitney-Bold.otf") format("opentype");
}

body {
	font-family: 'Whitney';
	-webkit-font-smoothing: antialiased;
}


section.section1 h1 {
	color: #002F49;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 38px;
	font-weight: 600;
	padding-top: 0px;
}

section.section1 h3 {
	color: #002F49;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	font-style: italic;
}

.section1{
	display: inline-block;
	margin-bottom: -40px;
}

.title {
	font-family: 'Georgia';
	position: relative;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.subtitle {
	position: relative;
	max-width: 35%;
	margin-left: auto;
	margin-right: auto;
}

.scene.is-active p {
	background-color: none;
}

.scene p {
	background-color: none;
}

.content-wrapper,
body {
	position: relative;
	min-height: 100%
}

.scroller {
	position: relative;
	margin-bottom: 50px
}

.scroll-graphic {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-top: 100px;
}

.scene {
	transform: translateZ(0);
	min-height: 100vh;
	transition: opacity .3s ease;
}


.img-responsive {
	width: 100%;
}

#main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.tick line {
	opacity: 0;
}

.tick text {
	font-size: 12px;
}

.x-axis,
.y-axis {
}

.solid{
	stroke:solid;
 }
 
 .dashed{
	stroke-dasharray: 5,5; 
 }

@media only screen and (min-width:661px) and (max-width:920px) {
	section.section1 h1 {
		font-size: 36px;
		top: 5vh;
	}
	section.section1 h3 {
		top: 5vh;
		font-size: 18px;
	}
	.title {
		max-width: 70%;
	}
	.subtitle {
		max-width: 50%;
	}
}

@media only screen and (max-width:660px) {
	section.section1 h1 {
		font-size: 30px;
		top: 5vh;
	}
	section.section1 h3 {
		top: 5vh;
		font-size: 16px;
	}
	.title {
		max-width: 90%;
	}
	.subtitle {
		max-width: 60%;
	}
    .article-wrapper {
		padding: 0 20px
	}
    .article-wrapper.scroller-text {
		max-width: 90vw
	}
    .scene {
		min-height: 200vh
	}
}


